* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#root {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

ul li {
    list-style: none;
}

form {
    display: flex;
    margin-bottom: 2rem;
    gap: 10px;
    padding-top: 30px;
}

[type="text"] {
    width: 100%;
}

[type="text"]:focus,
[type="text"]:active {
    outline: 0;
    border: 2px solid blue;
}


.form__button {
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    background: blue;
}

.form__input {
    padding: 10px 7px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.list {
    display: flex;
    justify-content: space-between;
    background: #f4f4f4;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 4px;
}

.list__button {
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: red;
    color: #fff;
}

.title__hint {
    text-align: center;
    font-size: 40px;
    opacity: 0.3;
}

.list span {
    display: inline-block;
    padding: 0.5rem;
    width: 100%;
    border-radius: 4px;
    border: 2px solid transparent;
}

.list span:hover {
    background: rgba(179, 207, 255, 0.52);
}

.list span:focus {
    outline: 0;
    border: 2px solid rgb(116, 116, 212);
    background: rgba(179, 207, 255, 0.52);
}