.wrapper {
    height: 400px;
    overflow-y: scroll;
}

.todosLists {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.link:hover {
    color: blue;
    transform: scale(1.1);
    text-decoration: underline;
}


.groupIcon {
    display: flex;
    gap: 5px;
    padding-right: 5px;
}

.editIkon {
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

.editIkon:hover {
    transform: scale(1.2);
}

.deleteIcon {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.deleteIcon:hover {
    transform: scale(1.2);
}

.revIcon {
    transition: all 0.3s ease 0s;
}

.revIcon:hover {
    cursor: pointer;
    transform: scale(1.4);
    opacity: 0.5;
}

.active {
    border: 3px solid blue;
    padding: 0 7px;
    border-radius: 5px;
}
