@media (max-width: 1200px) {
    .testimonials__heading {
        font-size: 150px;
    }
}

@media (max-width: 1100px) {
    .team__gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .news__board {
        grid-template-columns: repeat(2, 1fr);
    }

    .board__block:nth-child(3) {
        grid-column-start: span 2;
    }
}

@media (max-width: 900px) {
    .description__wrapper {
        flex-wrap: wrap;
        gap: 35px;
    }

    .description__content>*:not(:last-child) {
        padding-bottom: 50px;
    }

    .creativity__blocks {
        grid-template-columns: repeat(2, 1fr);
    }

    .creativity__block:nth-child(3) {
        grid-column-start: span 2;
    }

    .creativity__blocks {
        column-gap: 30px;
    }

    .creativity__footer {
        gap: 30px;
        padding-top: 45px;
    }

    .gallery__1 {
        grid-column: 1/1/2/2;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery__2 {
        grid-area: 1/2/2/3;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery__3 {
        grid-area: 2/1/2/1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery__4 {
        grid-area: 2/2/2/3;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery__5 {
        grid-area: 3/1/4/3;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .testimonials__heading {
        font-size: 100px;
    }
}

@media (max-width: 850px) {
    .feedback__wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .feedback__content {
        text-align: center;
        margin: 0 auto;
    }

    .footer__anow-wrapper {
        grid-template-columns: repeat(2, auto);
        justify-content: space-around;
    }

}

@media (max-width: 750px) {
    .team__gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 700px) {
    .about__content {
        flex-wrap: wrap;
        gap: 50px;
    }
}

@media (max-width: 655px) {
    .footer__anow-wrapper {
        grid-template-columns: repeat(1, auto);
        justify-content: center;
       
    }

}

@media (max-width: 640px) {
    .header__logo {
        padding-right: 120px;
    }

    .main__content-title {
        font-size: 50px;
        line-height: 60px;
    }

    .gallery__text {
        font-size: 150px;
    }

    .testimonials__heading {
        font-size: 70px;
    }
}

@media (max-width: 580px) {
    .news__board {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

    .board__block-link {
        margin-top: 20px;
    }

    .board__block:nth-child(3) {
        grid-column-start: span 1;
    }

    .board__block-desk {
        font-size: 20px;
    }
}

@media (max-width: 517px) {
    .works__wrapper {
        padding-top: 50px;
    }

    .works__button {
        flex: 1 1 auto;
        margin: 0 10px;
    }

    .works__content {
        text-align: center;
    }
}

@media (max-width: 505px) {
    .main__content-title {
        font-size: 40px;
        line-height: 50px;
    }

    .header__menu {
        display: none;
    }

    .burger__wrapper-menu {
        display: block;
        cursor: pointer;
    }
}

@media (max-width: 500px) {
    .header__logo {
        padding-right: 60px;
    }

    .creativity__blocks {
        grid-template-columns: repeat(1, 1fr);
    }

    .creativity__block:nth-child(3) {
        grid-column-start: auto;
    }

    .creativity__circle {
        width: 120px;
        height: 50px;
    }

    .gallery__images {
        display: block;
    }

    .testimonials__heading {
        font-size: 40px;
    }
}


@media (max-width: 430px) {
    .main__content-title {
        font-size: 30px;
        line-height: 40px;
    }

    .about__heading {
        font-size: 80px;
    }

    .main__about {
        padding: 20px 0 30px;
    }

    .creativity__footer {
        padding-top: 20px;
    }

    .gallery__text {
        font-size: 100px;
    }
}

@media (max-width: 370px) {
    .form__inputs {
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media (max-width: 355px) {
    .main__content-button {
        width: 100%;
        margin: 10px;
    }

    .creativity__footer {
        gap: 15px;
    }

    .creativity__circle {
        width: 100px;
        height: 40px;
    }
}

@media (max-width: 350px) {
    .main__content-title {
        font-size: 22px;
        line-height: 30px;
    }

    .testimonials__heading {
        font-size: 25px;
    }
}