@font-face {
    font-family: 'century';
    src: url("../fonts/Century\ Gothic\ Regular.ttf");
}

body {
    font-family: 'century';
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p,
ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

._ibg {
    position: relative;
}


.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.header {
    padding: 10px 15px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.header__logo {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #222222;
    padding-right: 210px;

}

.menu__lists {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
}

.menu__list {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
}

.menu__list:hover {
    color: #FD8558;
}

.main__block-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -2;
}

.main__content {
    max-width: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
}

.main__content-title {
    font-style: normal;
    font-weight: 400;
    font-size: 67px;
    line-height: 85px;
    text-align: center;
    color: #FFFFFF;
}

.main__content-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
}

.main__content-button {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    padding: 14px 39px;
    background: inherit;
    border: 2px solid #FD8558;
    color: #FFFFFF;
}

.main__content-button:hover {
    background: #FD8558;
}

.main__content>*:not(:last-child) {
    padding: 41px;
}

#burger__menu-toggle {
    opacity: 0;
}

.burger__wrapper-menu {
    display: none;

}

.burger__menu-btn {
    display: flex;
    position: absolute;
    top: 30px;
    right: 19px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.burger__menu-btn>span,
.burger__menu-btn>span::before,
.burger__menu-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .35s;
}


#burger__menu-toggle:checked~.burger__menu-btn>span {
    transform: rotate(45deg);
}

#burger__menu-toggle:checked~.burger__menu-btn>span::before {
    top: 0;
    transform: rotate(0);
}

#burger__menu-toggle:checked~.burger__menu-btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

.burger__menu-btn>span::before {
    content: '';
    top: -8px;
}

.burger__menu-btn>span::after {
    content: '';
    top: 8px;
}

.burger__menu {
    display: none;
}

#burger__menu-toggle:checked~.burger__menu {
    display: block;
}

.burger__menu {
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    max-height: 300px;
    padding: 10px;
    width: 100%;
}

.burger__lists {
    padding: 10px;
}

.burger__list {
    cursor: pointer;
}

.burger__list:hover {
    color: #FD8558;
}

.burger__list:not(:last-child) {
    padding-bottom: 15px;
}

.main__about {
    padding: 52px 0 60px;
}

.about__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 145px;
    color: #F7F7F7;
}

.about__content {
    display: flex;
    gap: 105px;
    margin-top: 20px;

}

.content-rigth__text {
    font-weight: 400;
    font-size: 14px;
    color: #FD8558;
}

.content-rigth__subtext {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #333333;
}

.about__content-rigth,
.about__content-left {
    width: 100%;
}

.about__content-rigth>*:not(:last-child) {
    padding-bottom: 20px;
}

.about__content-left>*:not(:last-child) {
    padding-bottom: 10px;
}

.content-left__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #222222;
}

.content-left__subtext {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    color: #999999;
}

.content-left__subtext>*:not(:last-child) {
    padding-bottom: 10px;
}

.about__description {
    padding-top: 58px;
}

.description__image img {
    width: 100%;
    object-fit: cover;
}

.description__image {
    width: 100%;
}

.description__text {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
}

.description__text-bold {
    color: #FD8558;
    font-style: italic;
}

.description__athor-name {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.description__athor-post {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #CACACA;
    text-transform: uppercase;
}

.description__athor>*:not(:last-child) {
    padding-bottom: 20px;
}

.description__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
}

.description__content>*:not(:last-child) {
    padding-bottom: 93px;
}


.creativity__block-text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.creativity__block-description {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #999999;
}

.creativity__blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 58px;
    row-gap: 30px;
}

.creativity__block {
    display: grid;
    justify-items: center;
    text-align: center;
}

.creativity__block>*:not(:last-child) {
    padding-bottom: 20px;

}

.creativity__footer {
    display: flex;
    padding-top: 67px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 40px;
}

.creativity__circle {
    width: 180px;
    height: 80px;
    border-radius: 50%;
    background: rgba(253, 133, 88, 0.2);
}

.creativity__strip {
    height: 2px;
    background: #F5F5F5;
    width: 100%;
}

.works__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 161px;
}

.works__button {
    padding: 13px 37px;
    background: inherit;
    border: 2px solid #FD8558;
    color: #FD8558;
    font-weight: 700;
    font-size: 15px;
}

.works__button:hover {
    background: #FD8558;
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.works__content {
    max-width: 312px;
}

.works__text {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #FD8558;
}

.works__subtext {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #333333;
}

.gallery__text {
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 180px;
    text-align: right;
    color: #F7F7F7;
}

.gallery__images {
    display: grid;
}

.gallery__1 {
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__2 {
    grid-area: 2/1/3/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__3 {
    grid-area: 1/4/2/5;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__4 {
    grid-area: 2/4/3/5;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__5 {
    grid-area: 1/2/3/4;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__block {
    position: relative;
}

.gallery__block-info {
    position: absolute;
    display: flex;
    column-gap: 69px;
    left: 20px;
    bottom: 40px;
    padding: 40px 47px;
    background: rgba(255, 255, 255, 0.85);
}

.gallery__subtext {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #222222;
}

.skills {
    padding: 70px 0;
}

.skills__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
}

.skills__content {
    max-width: 500px;
}

.skills__content-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FD8558;
}

.skills__content-subtext {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.skills__content-desk {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #999999;
    padding-top: 15px;
}

.progressbar__block-input95 {
    position: absolute;
    width: 570px;
    background: linear-gradient(90deg, #FF4D06 0%, #FFAC34 54.23%);
    -webkit-appearance: none;
    z-index: 1;
}

.progressbar__block-input95::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    -webkit-appearance: none;
    border-radius: 50%;
}

.progressbar__block-input90 {
    position: absolute;
    width: 540px;
    background: linear-gradient(90deg, #FF4D06 0%, #FFAC34 54.23%);
    -webkit-appearance: none;
    z-index: 1;
}

.progressbar__block-input90::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    -webkit-appearance: none;
    border-radius: 50%;
}

.progressbar__block-input80 {
    position: absolute;
    width: 480px;
    background: linear-gradient(90deg, #FF4D06 0%, #FFAC34 54.23%);
    -webkit-appearance: none;
    z-index: 1;
}

.progressbar__block-input80::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    -webkit-appearance: none;
    border-radius: 50%;
}

.progressbar__block-input-2 {
    position: absolute;
    width: 600px;
    background: #EEEEEE;
    -webkit-appearance: none;
}

.progressbar__block-input-2::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    -webkit-appearance: none;
    border-radius: 50%;
}

.skills__progressbar {
    flex: 1 1 auto;
}

.progressbar__block-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}

.progressbar__block-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #222222;
}

.progressbar__block-done {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #999999;
}

.skills__progressbar>*:not(:last-child) {
    padding-bottom: 45px;
}

.team {
    padding-bottom: 100px;
}

.team__content {
    text-align: center;
}

.team__content-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FD8558;
}

.team__content-subheading {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    text-transform: capitalize;
    color: #222222;
    padding-top: 28px;
}

.team__item {
    position: relative;
    cursor: pointer;
}

.team__item-block {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
}

.team__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 40px;
}

.team__gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team__block-text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.team__block-subtext {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FCFCFC;
}

.team__item img {
    transition: all 0.3s ease 0s;
}

.team__item:hover img {
    transform: scale(1.1);
}

.team__button-wrapper {
    text-align: center;
}

.team__button {
    padding: 13px 37px;
    border: 2px solid #FD8558;
    color: #FD8558;
    background: inherit;
    margin-top: 80px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
}

.team__button:hover {
    background: #FD8558;
    color: white;
}

.testimonials {
    background: #3A0F73;
    padding: 70px;
}

.testimonials__content {
    text-align: center;
}

.testimonials__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 220px;
    color: rgba(170, 170, 170, 0.1);
}

.testimonials__desk {
    max-width: 824px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin: 0 auto;
}

.testimonials__person {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.testimonials__block-text,
.testimonials__block-subtext {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.testimonials__content>*:not(:last-child) {
    padding-bottom: 20px;
}

.news__header-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #FD8558;
}

.news__header-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #222222;
}

.news__header {
    text-align: center;
}

.news {
    padding-top: 122px;
}

.news__header>*:not(:last-child) {
    padding-bottom: 45px;
}

.board__content {
    display: flex;
    column-gap: 15px;
    margin-top: 28px;
}

.board__content-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FD8558;
}

.board__content-data {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
}

.board__content-data::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #DFDEDE;
    margin-bottom: 2px;
    margin-right: 8px;
}

.board__block-desk {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #222222;
    margin-top: 20px;
    max-width: 326px;
}

.board__block-link {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FD8558;
    display: block;
    margin-top: 38px;
}

.news__board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 26px 0 115px;
}

.board__block img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.feedback__addres-text,
.feedback__information-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(34, 34, 34, 0.4);
}

.feedback__addres-subText,
.feedback__information-subText {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #222222;
}

.feedback__content {
    max-width: 293px;
}

.feedback__content>*:not(:last-child) {
    padding-bottom: 45px;
}

.form__inputs,
.form__textarea {
    width: 100%;
    display: flex;
    column-gap: 30px;
    margin-bottom: 30px;
}

.form__inputs input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    padding: 18px 40px;
}

.form__inputs input::placeholder,
textarea::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
}

.feedback__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.form__textarea {
    display: block;
    min-height: 128px;
    box-sizing: border-box;
    padding: 18px 40px;
    resize: none;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.form__button {
    padding: 17px 38px;
    background: inherit;
    border: 2px solid #FD8558;
    color: #FD8558;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin-top: 65px;
}

.form__button:hover {
    background: #FD8558;
    color: white;
}

.footer {
    background: #111111;
    margin-top: 120px;
    padding: 93px;
}

.footer__anow-text {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
}

.anow__info-tel,
.anow__info-email {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
}

.footer__anow>*:not(:last-child) {
    padding-bottom: 27px;
}

.anow__info-tel {
    padding-right: 10px;
}

.footer__anow-info {
    display: flex;
    flex-wrap: wrap;
}

.anow__info-email {
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    padding-left: 10px;
}

.footer__block-heading {
    padding-bottom: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.footer__block-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #BABABA;
}

.footer__block-lists>*:not(:last-child) {
    padding-bottom: 9px;
}

.footer__anow-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 20px;
}

.footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #BABABA;
    margin-top: 70px;
}

.span {
    color: white;
}
