.lists {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
    margin-top: 15px;
    border-radius: 3px;
    padding-left: 10px;
    margin-bottom: 0;
}

.list_update {
    text-decoration: line-through;
    list-style: none;
    margin-top: 15px;
    border-radius: 3px;
    padding-left: 10px;
    margin-bottom: 0;
}

.list:hover {
    color: rgb(63, 87, 225);
    background: rgba(243, 246, 245, 0.936);
}