body {
    margin: 0;
    display: flex;
    justify-content: center;
    background: black;
}

p {
    position: absolute;
    z-index: 1;
    color: white;
    left: 20px;
    font-family: sans-serif;
}

#start_button {
    position: absolute;
    padding-top: 170px;
    color: white;
    text-shadow: 2px 2px black;
    font-family: sans-serif;
    font-size: 50px;
    transition: all 0.3s ease 0s;
}

#start_button:hover {
    cursor: pointer;
    color: blue;
    transform: scale(1.1);
}


  