@media (max-width: 1120px) {
    .main__creativity {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 40px;
    }

    .creativity__block-blu {
        text-align: center;
        grid-column-start: span 2;
    }

    .main__content {
        text-align: center;
    }

    .skills__blocks {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 40px;
    }

    .recommendations__blocks {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 40px;
        box-sizing: border-box;
    }

    .service__wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .service__video img {
        width: 100%;
        box-sizing: border-box;
        padding: 0 40px;
    }

    .service__content {
        padding-left: 0 40px;
    }

    .service__content-text {
        text-align: center;
    }

    .service__content-blocks {
        justify-content: center;
    }

    .footer__end-wrapper {
       padding: 30px;
    }
}

@media (max-width: 980px) {
    .search__blocks {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .search__footer {
        display: none;
    }

    .search__blocks {
        position: relative;
        padding-bottom: 20px;
    }

    .connection__blocks {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 30px;
        column-gap: 30px;
    }

    .connection__block-blue {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .footer__wrapper {
        grid-template-columns: repeat(3, 1fr);
        padding-left: 30px;
    }
}

@media (max-width: 890px) {
    .sponsors__logo {
        grid-template-columns: repeat(3, 1fr);
        padding: 88px;
        box-sizing: border-box;
    }
}

@media (max-width: 780px) {
    .block-description-text {
        padding: 30px 0;
    }
}

@media (max-width: 754px) {
    .main__creativity {
        display: block;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30px;
    }

    .creativity__block,
    .creativity__block-blu {
        width: 100%;
    }

    .creativity__block-blu {
        text-align: left;
    }

    .service__block-subtext {
        padding-bottom: 50px;
    }

    .service__wrapper {
        gap: 60px;
    }

    .skills__content {
        padding-top: 100px;
    }

}

@media (max-width: 665px) {
    .connection__blocks {
        grid-template-columns: repeat(1, 1fr);
    }

    .connection__block-blue {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
    }
}

@media (max-width: 640px) {
    .search__input {
        margin-left: 30px;
        padding: 15px 100px 15px 15px;
    }

    .search__button {
        padding: 15px 18px;
        font-size: 14px;
    }
}

@media (max-width: 590px) {
    .burger__wrapper-menu {
        display: block;
    }

    .menu__lists {
        display: none;
    }

    .skills__blocks {
        grid-template-columns: repeat(1, 1fr);
    }

    .recommendations__blocks {
        grid-template-columns: repeat(1, 1fr);
    }

    .sponsors__logo {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 470px) {
    .search__input {
        padding-right: 30px;
    }
}

@media (max-width: 450px) {
    .service__block-text {
        font-size: 30px;
        padding-top: 80px;
    }

    .service__block-subtext {
        font-size: 10px;
    }
}

@media (max-width: 430px) {
    .recommendations__content-text {
        font-size: 30px;
    }

    .recommendations__content {
        padding-top: 100px;
    }

    .recommendations__content-subtext {
        font-size: 11px;
    }
}

@media (max-width: 400px) {
    .search__input {
        padding-right: 0;
    }
}

@media (max-width: 370px) {
    .main__content {
        text-align: center;
    }

    .main__content-text {
        font-size: 30px;
    }

    .main__content-subtext {
        font-size: 16px;
    }

    .service__wrapper {
        gap: 30px;
        padding-bottom: 50px;
    }

    .service__content-titl {
        font-size: 30px;
    }

    .sponsors__logo {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 50px;
    }

    .connection__blocks {
        margin: 0 12px;
        padding: 50px 0;
    }

    .connection__block-mail, .connection__blue-mail {
        font-size: 10px;
    }

    .connection__block-desk, .connection__blue-desk {
        font-size: 12px;
    }

    .connection__block-button, .connection__blue-button {
        font-size: 12px;
    }

    .skills__content-text {
        font-size: 39px;
    }

    .skills__content-subtext {
        font-size: 18px;
    }
}

@media (max-width: 350px) {
    .burger__list {
        font-size: 22px;
    }

    .creativity__block-text,
    .block__blu-text {
        font-size: 15px;
    }

    .creativity__block-subtext,
    .block__blu-subtext {
        font-size: 10px;
    }

    .creativity__block {
        padding: 25px;
    }

    .main__creativity {
        gap: 15px;
    }

    .service__block-text {
        font-size: 20px;
    }

    .service__block-subtext {
        font-size: 8px;
    }

    .search__input {
        margin-left: 5px;
    }

    .footer__wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .service__content-blocks {
        display: block;
        text-align: center;
        padding-bottom: 20px;
    }

    .service__content-blocks>*:not(:last-child) {
        padding-bottom: 10px;
    }

}

@media (max-width: 310px) {
    .block-description-text {
        padding: 15px 0;
        font-size: 18px;
    }

    .search__input {
        padding: 8px 0 8px 8px;
        margin-left: 47px;
    }

    .search__button {
        padding: 10px 15px;
        font-size: 11px;
    }
}