@font-face {
    font-family: 'lato-light';
    src: url("../fonts/lato-light.ttf");
}

body {
    font-family: 'lato-light';
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p,
ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -2;
}

.header__wrapper {
    display: flex;
    position: relative;
    padding-top: 36px;
}

.header__wrapper>*:not(:last-child) {
    padding-right: 117px;
}

.menu__lists {
    display: flex;
    flex-wrap: wrap;
    padding-top: 6px;
}

.menu__lists>*:not(:last-child) {
    padding-right: 21px;
}

.header__logo {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #252B42;
}

.menu__list {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #737373;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.menu__list:hover {
    color: #FFA62B;
    transform: scale(1.1);
}

#burger__menu-toggle {
    display: none;
}

.burger__wrapper-menu {
    display: none;
}

.burger__menu-btn {
    display: flex;
    position: absolute;
    right: 19px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
    padding-top: 20px;
}

.burger__menu-btn>span,
.burger__menu-btn>span::before,
.burger__menu-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #616161;
    transition-duration: .35s;
    right: 0px;
}

.burger__menu-btn>span::before {
    width: 130%;
}

.burger__menu-btn>span::after {
    width: 50%;
}



#burger__menu-toggle:checked~.burger__menu-btn>span {
    transform: rotate(45deg);
    width: 100%;
}

#burger__menu-toggle:checked~.burger__menu-btn>span::before {
    top: 0;
    transform: rotate(0);
    width: 100%;
}

#burger__menu-toggle:checked~.burger__menu-btn>span::after {
    top: 0;
    transform: rotate(90deg);
    width: 100%;
}

.burger__menu-btn>span::before {
    content: '';
    top: -8px;
}

.burger__menu-btn>span::after {
    content: '';
    top: 8px;
}

.burger__menu {
    display: none;
}

#burger__menu-toggle:checked~.burger__menu {
    display: block;
}

.burger__menu {
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    max-height: 300px;
    padding: 10px 0;
    width: 100%;
    background: #F7F7F7;
    z-index: 1;
}

.burger__nav {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
}

.nav__top {
    padding-right: 55px;
    margin-top: 5px;
}

.burger__search {
    padding-right: 5px;
    width: 20px;
    cursor: pointer;
}

.burger__shopping-cart {
    width: 20px;
    cursor: pointer;
}

.burger__lists {
    padding: 25px;
    text-align: center;
}

.burger__list {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #737373;
    cursor: pointer;
}

.burger__list:hover {
    color: #FD8558;
}

.burger__list:not(:last-child) {
    padding-bottom: 20px;
}

.burger__logo {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #252B42;
    padding-left: 10px;
}

.main__content {
    position: relative;
    padding-top: 100px;
}


.main__content>*:not(:last-child) {
    padding-bottom: 35px;
}

.main__content-text {
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    color: #252B42;
    text-transform: uppercase;
}

.main__content-subtext {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #737373;
}

.main__content-buttons>*:not(:last-child) {
    margin-bottom: 15px;
}

.main__content-button {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #00A0C1;
    padding: 10px 36px;
    border: 2px solid #00A0C1;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background: inherit;
}

.main__content-button:hover {
    color: #FFFFFF;
    background: #FD8558;
    border: 2px solid #FD8558;
    transform: scale(1.1);
}

.main__content-buttons>*:not(:last-child) {
    margin-right: 8px;
}

.main__creativity {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    padding-top: 80px;
}

.creativity__block {
    background: white;
    padding: 40px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    transition: all 0.3s ease 0s;
}

.creativity__block:hover {
    background: #00A0C1;
    transform: scale(1.1);
}

.creativity__block:hover p {
    color: white;
}

.creativity__block:hover .creativity__image svg path  {
    fill: white;
}

.creativity__block>*:not(:last-child) {
    padding-bottom: 10px;
}

.creativity__block-blu {
    background: #00A0C1;
    padding: 40px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.creativity__block-blu>*:not(:last-child) {
    padding-bottom: 10px;
}

.creativity__block-text {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #252B42;
}

.creativity__block-subtext {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #737373;
}

.block__blu-text {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.block__blu-subtext {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}

.main__skills {
    background: #F3F3F3;
}

.skills__content {
    text-align: center;
    padding-top: 192px;
}

.skills__content-text {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #252B42;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.skills__content-subtext {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #737373;
    padding-bottom: 50px;
}

.main__skills {
    position: relative;
}

.skills__background {
    background: #FAFAFA;
    width: 100%;
    height: 100%;
    position: relative;
}

.skills__blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

.skills__block {
    padding: 30px 0;
    text-align: center;
    background: white;
    align-items: center;
}

.skills__block>*:not(:last-child) {
    padding-bottom: 10px;
}

.skills__block-number {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #252B42;
}

.skills__block-description {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #737373;
    text-transform: uppercase;
}

.main__recommendations {
    background: #F3F3F3;
}

.recommendations__content {
    padding-top: 200px;
    text-align: center;
}

.recommendations__content-text {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #252B42;
    padding-bottom: 10px;
}

.recommendations__content-subtext {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #737373;
    padding-bottom: 45px;
}

.recommendations__blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-bottom: 80px;
}

.recommendations__block {
    background: white;
}

.recommendations__block img {
    width: 100%;
    object-fit: cover;
}

.recommendations__block-text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #252B42;
    max-width: 130px;
    padding: 30px 0 15px 30px;
}

.recommendations__block-subtext {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #737373;
    max-width: 160px;
    padding: 0 0 30px 30px;
}

.main__service {
    background: white;
}

.service__block {
    text-align: center;
}

.service__block-text {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #252B42;
    padding-top: 100px;
    padding-bottom: 15px;
}

.service__block-subtext {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #737373;
    padding-bottom: 100px;
}

.service__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px;
    padding-bottom: 100px;
    align-items: center;
}

.service__content-titl {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #252B42;
    padding-bottom: 10px;
}

.service__content-description {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #737373;
    padding-bottom: 50px;
}

.service__content-blocks {
    display: flex;
    gap: 20px;
}

.service__content-blocks>*:not(:last-child) {
    padding-bottom: 50px;
}

.content__block-text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #252B42;
    padding-bottom: 5px;
}

.content__block-subtext {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #737373;
}

.main__sponsors {
    background: #F3F3F3;
}

.sponsors__logo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;
    padding-top: 70px;
    padding-bottom: 150px;
}

.search__blocks {
    display: flex;
    justify-content: space-between;
    background: #16697A;
    align-items: center;
    margin-top: -70px;
    position: absolute;
    z-index: 2;
}

.search__block {
    display: flex;
}

.search__input {
    border: 2px solid white;
    padding: 21px 230px 21px 21px;
}

.block-description-text {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    padding: 30px 180px 30px 50px;
}

.search__button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
    border: 2px solid white;
    padding: 20px 25px;
    background: inherit;
    margin-right: 48px;
}

.search__button:hover {
    background: #FFA62B;
    border: 2px solid #FFA62B;
    cursor: pointer;
}

.search__footer {
    background: #252B42;
    width: 100%;
    height: 77px;
    top: 280px;
}

.main__connection {
    background: #F3F3F3;
}

.connection__description {
    padding-top: 80px;
    text-align: center;
}

.connection__description>*:not(:last-child) {
    padding-bottom: 10px;
}

.connection__description-text {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #252B42;
}

.connection__description-subtext {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #737373
}

.connection__blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px 0;
}

.connection__block {
    text-align: center;
    background: white;
    padding: 50px 55px;
    margin: 30px 0;
}

.connection__block>*:not(:last-child) {
    padding-bottom: 15px;
}

.connection__block-mail {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #252B42;
}

.connection__block-desk {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #252B42;
}

.connection__block-button {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFA62B;
    padding: 10px 20px;
    border: 1px solid #FFA62B;
    border-radius: 5px;
    background: inherit;
}

.connection__block-button:hover {
    color: white;
    background: #FFA62B;
}

.connection__block-blue {
    text-align: center;
    background: #252B42;
    padding: 80px 55px;
}

.connection__block-blue>*:not(:last-child) {
    padding-bottom: 15px;
}

.connection__blue-mail {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: white;
}

.connection__blue-desk {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.connection__blue-button {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    background: inherit;
}

.connection__blue-button:hover {
    color: white;
    background: #FFA62B;
    border: 1px solid #FFA62B;
}

.feedback__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0;
    row-gap: 50px;
    margin: 0 30px;
}

.feedback__content>*:not(:last-child) {
    padding-bottom: 10px;
}

.feedback__content-text {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #252B42;
}

.feedback__content-subtext {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #737373;
}

.form__button {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFA62B;
    border: 2px solid #FFA62B;
    background: inherit;
    padding: 15px 40px;
    border-radius: 5px;
}

.form__button:hover {
    background: #FFA62B;
    color: white;
}

.footer__background {
    background: #16697A;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 30px;
    padding: 50px 0;
}

.footer__block-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 20px;
    cursor: pointer;
}

.footer__block-lists>*:not(:last-child) {
    padding-bottom: 10px;

}

.footer__block-link {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

.footer__info>*:not(:last-child) {
    padding-bottom: 10px;
}

.info__block {
    display: flex;
    column-gap: 10px;
}

.footer__info-telephone {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    display: block;
}

.footer__info-telephone,
.footer__info-text,
.footer__info-mail {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

.footer__end-wrapper {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 0;
}

.footer__copyright-text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #737373;
}

.footer__logo >*:not(:last-child) {
    padding-right: 20px;
}