.registration_heading {
    font-size: 25px;
    text-align: center;
    margin: 0;
}
.registration {
    display: grid;
    margin-top: 10%;
    margin-left: 25%;
    max-width: 500px;
    max-height: 300px;
    padding: 30px;
    row-gap: 25px;
    background: white;
}

.registration_footer {
    text-align: center;
    font-size: 16px;
}

.registration_footer:hover {
    opacity: 0.5;
    cursor: pointer;
    color: blue;

}
