.list {
    list-style: none;
    margin-top: 15px;
    border-radius: 3px;
    padding-left: 10px;
    margin-bottom: 0;
}

.list_update {
    text-decoration: line-through;
    list-style: none;
    margin-top: 15px;
    border-radius: 3px;
    padding-left: 10px;
    margin-bottom: 0;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.groupItems {
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.editIcon {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.editIcon:hover {
    transform: scale(1.4);
}

.deleteIcon {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.deleteIcon:hover {
    transform: scale(1.4);
}

.checkbox {
    transition: all 0.3s ease 0s;
    color:rgb(63, 87, 225) !important;
}

.checkbox:hover {
    transform: scale(1.2);
}
